/* apps/console — the two bundled faces (DESIGN.md "Type"). Self-hosted, no CDN: the console
 * runs offline. Files copied from @fontsource/orbitron and @fontsource/jetbrains-mono (npm,
 * SIL Open Font License), latin subset only, weights 400 and 700 only — see DESIGN.md's
 * "Transfer budget" for why these four files and no more. */

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/orbitron-latin-400-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/orbitron-latin-700-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/jetbrains-mono-latin-400-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/jetbrains-mono-latin-700-normal.woff2') format('woff2');
}
